/* Importación de tipografía */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap');
/* Selector universal */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
/* Selector por etiqueta */
span {
    color: orangered;
}
/* selector por id */
#option_one, #option_three{
    font-weight: 900;
    background-color: aquamarine;
    margin-left: 20px;
}
/* selector por clase */
.options_group{
    background-color: #000; /*0000000 */
}
.options_group.other_option{
    font-size: 50px;
}
/* selector por atributo */
[disabled]{
    background-color: red;
}
/* slector por id */
#title_box{
    color:#0000ff;
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: lowercase;
    margin: 10px 20px 15px 25px;
    border: 3px dotted #000;
    border-radius: 10px;
    padding-bottom: 50px;
    word-spacing: 15px;
    letter-spacing: 8px;
    font-size: 50px;
    box-shadow: 0px 0px 10px 2px #000fff;
    box-shadow: 0px 0px 16px 5px rgba(255,82,255,1);
    -webkit-box-shadow: 0px 0px 16px 5px rgba(255,82,255,1);
    -moz-box-shadow: 0px 0px 16px 5px rgba(255,82,255,1);
}

#box_father{
    background-color: #000;
    width: 200px;
    height: 200px;
    background-image: url(https://img.freepik.com/vector-gratis/chico-lindo-jugando-futbol-dibujos-animados-vector-icono-ilustracion-concepto-icono-deporte-personas-aislado-vector-premium-estilo-dibujos-animados-plana_138676-4055.jpg?w=2000);
    background-position: center;
    background-size: cover;
}

/* #box_model{
    background-color: orange;
    width: 50%;
    height: 50%;
} */

/* aplicaciond e media queris */
@media (min-width: 800px) and (max-width: 1200px){
    body{
        background-color: red;
    }
    #title_box{
        text-align: left;
    }
}

@media (max-width: 799px){
    body{
        background-image: url(https://img.freepik.com/vector-gratis/chico-lindo-jugando-futbol-dibujos-animados-vector-icono-ilustracion-concepto-icono-deporte-personas-aislado-vector-premium-estilo-dibujos-animados-plana_138676-4055.jpg?w=2000);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
    }
}

